<div class="collapse navbar-collapse" id="sideBar">
  <div class="list-group">
  {% for level1 in site.data.sideMenu[page.sideMenuName] %}
    {% if page.category == level1.category %}
      {% assign level1_collapse = "true" %}
      {% assign level1_show = "show" %}
    {% else %}
      {% assign level1_collapse = "false" %}
      {% assign level1_show = "" %}
    {% endif %}

    <a class="list-group-item bg-light p-0 border-0 text-reset font-weight-bold collapse-arrow" data-toggle="collapse" href="#collapse{{ level1.category | replace: ".", "-" | replace: " ", "" }}" aria-expanded="{{ level1_collapse }}" aria-controlls="collapse{{ level1.category | repace: ".", "-" | replace: " ", "" }}">
      {{ level1.category }}
    </a>
    <div class="collapse list-group {{ level1_show }}" id="collapse{{ level1.category | replace: ".", "-" | replace: " ", "" }}">
    {% for level2 in level1.contents %}
      {% if page.category2 == level2.category %}
        {% assign level2_collapse = "true" %}
        {% assign level2_show = "show" %}
      {% else %}
        {% assign level2_collapse = "false" %}
        {% assign level2_show = "" %}
      {% endif %}
      {% if level2.category %}
        <a class="list-group-item bg-light border-0 text-reset font-weight-bold collapse-arrow" style="padding: 0px; padding-left: 20px" data-toggle="collapse" href="#collapse{{ level2.category | replace: ".", "-" | replace: " ", "" }}" aria-expanded="{{ level2_collapse }}" aria-controlls="collapse{{ level2.category | replace: ".", "-" | replace: " ", ""}}">
          {{ level2.category }}
        </a>
        <div class="collapse list-group {{ level2_show }}" id="collapse{{ level2.category | replace: ".", "-" | replace: " ", "" }}">
        {% for level3 in level2.contents %}
          <a class="list-group-item bg-light border-0 text-reset" style="padding: 0px; padding-left: 60px" href="{{ level3.link }}">{{ level3.name }}</a>
        {% endfor %}
        </div>
      {% endif %}
      <a class="list-group-item bg-light border-0 text-reset" style="padding: 0px; padding-left: 40px" href="{{ level2.link }}">{{ level2.name }}</a>
    {% endfor %}
    </div>
  {% endfor %}
  </div>
</div>
