.outline1{
  text-shadow:1px 1px 0 #000,-1px 1px 0 #000,1px -1px 0 #000,-1px -1px 0 #000;
}
.collapse-arrow[aria-expanded="false"]:after {
  content: url("/assets/images/arrow_right.png");
  float: left;
  padding: 0px 7px 0px;
}
.collapse-arrow[aria-expanded="true"]:after {
  content: url("/assets/images/arrow_down.png");
  float: left;
  padding: 0px 5px 0px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 24px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 24px;
}
.sidebar-fixed {
  position: sticky;
  top: 60px;
  margin-top: 2px;
}
h1 {
  position: relative;
  padding: 0.25em 0;
  font-size: 1.75rem;
}
h1:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(90, 90, 230), transparent);
  background: linear-gradient(to right, rgb(90, 90, 230), transparent);
}
